# Server
TRAVIAN_SERVER_URL=https://rof.x3.international.travian.com
SERVER_SPEED=3
MAP_SQL_CRON="5 0 * * *"

# Auth
AUTH_SECRET=generate-a-random-secret-here
AUTH_URL=http://localhost:3000
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password

# Database
DATABASE_PATH=./data/ufo.db

# App
NEXT_PUBLIC_APP_NAME=Projekt UFO
NEXT_PUBLIC_DEFAULT_LOCALE=pl
